:root {
  --background: #f4f4f4;
  --foreground: #111111;
  --accent: #111111;
  --font-roboto: 'Roboto', sans-serif;
}

[data-theme='dark'] {
  --background: #111111;
  --foreground: #f4f4f4;
  --accent: #f4f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

